## Import libraries

In [8]:
import pandas as pd
import numpy as np
from tqdm import tqdm_notebook as tqdm
import time
import math
import fractions
import os
import itertools
import re
from matplotlib import pyplot as plt
import networkx as nx
from datetime import datetime

## Load dataset

In [3]:
df = pd.read_csv('order_brush_order.csv')

In [36]:
# Convert event_time to datetime
df.loc[:,'event_time'] = pd.to_datetime(df.event_time)

In [37]:
df.head()

          orderid     shopid     userid          event_time
0  31076582227611   93950878   30530270 2019-12-27 00:23:03
1  31118059853484  156423439   46057927 2019-12-27 11:54:20
2  31123355095755  173699291   67341739 2019-12-27 13:22:35
3  31122059872723   63674025  149380322 2019-12-27 13:01:00
4  31117075665123  127249066  149493217 2019-12-27 11:37:55

## Analyze data

Shops are deemed to have conducted order brushing if their concentrate rate is **greater than or equal to 3 at any instance**.

Concentrate rate = number of orders within 1 hour / number of unique buyers within 1 hour.

Suspicious buyers are deemed as the buyer that contributed to highest portion of ordes to a shope that is deemed to have conducted order brushing.

Final submission must have 2 columns: shopid and userid. If there is more than 1 userid identified as suspicious, list all the userids separated by '&' with the smaller numerical userid first. Submission should have 18770 rows (excluding headers).

In [53]:
shopids = df.shopid.unique()

In [ ]:
df[df.shopid == i]

In [462]:
window_combos = [('0M','60M'), ('60M','0M'), ('30M','30M'), ('45M','15M')]
for i in window_combos:
    df_forward = sample[(sample.event_time >= j-pd.Timedelta(i[0])) & (sample.event_time <= j+pd.Timedelta(i[1]))]
    display(df_forward)

               orderid     shopid    userid          event_time
222725  31173369000956  147118226  47283981 2019-12-28 03:16:09

               orderid     shopid    userid          event_time
222725  31173369000956  147118226  47283981 2019-12-28 03:16:09

               orderid     shopid    userid          event_time
222725  31173369000956  147118226  47283981 2019-12-28 03:16:09

               orderid     shopid    userid          event_time
222725  31173369000956  147118226  47283981 2019-12-28 03:16:09

In [464]:
brush_test = pd.DataFrame(columns = ['orderid','shopid','userid','event_time'])
slice_length = []
for i in tqdm(shopids):
    shop_slice = []
    sample = df[df.shopid == i].sort_values('event_time')
#     brush_period = pd.DataFrame(columns = ['orderid','shopid','userid','event_time'])
    for j in sample.event_time:
        df_slice = sample[(sample.event_time >= j) & (sample.event_time <= j+pd.Timedelta('1H'))]
        shop_slice.append(len(df_slice))
#         conc = df_slice.orderid.count()/df_slice.userid.nunique()
#         if conc >= 3:
#             brush_period = pd.concat((brush_period,df_slice), axis = 0).sort_values('event_time')
#     if len(brush_period) != 0:
#         brush_period = brush_period.drop_duplicates(subset='orderid', keep = 'first')
#         df_brushing_forward = pd.concat((df_brushing_forward, brush_period), axis = 0)
    slice_length.append(shop_slice)

HBox(children=(IntProgress(value=0, max=18770), HTML(value='')))

In [474]:
shopids

array([ 93950878, 156423439, 173699291, ...,  50236030, 203587596,
       147118226], dtype=int64)

In [480]:
len(max(slice_length))

11703

In [501]:
dfslices = pd.DataFrame({'shopid':shopids,
             'slice': slice_length})
dfslices.loc[:,'max_slice'] = dfslices.slice.apply(lambda x: sorted(x, reverse = True)[0:3])
dfslices.loc[:, 'number_slice'] = dfslices.slice.apply(lambda x: len(x))

In [502]:
dfslices.sort_values('max_slice', ascending = False)

,shopid,slice,max_slice,number_slice
8,147941492,"[269, 268, 267, 266, 265, 264, 263, 263, 262, ...","[551, 550, 550]",11703
84,61556313,"[24, 23, 26, 27, 26, 26, 27, 26, 26, 25, 25, 2...","[127, 127, 127]",6691
60,54615708,"[43, 42, 41, 40, 40, 40, 40, 40, 39, 38, 37, 3...","[54, 53, 53]",2640
2377,162551899,"[37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 2...","[45, 45, 44]",115
1304,99831506,"[1, 1, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31,...","[40, 39, 38]",43
259,89768730,"[7, 6, 5, 4, 3, 3, 4, 4, 3, 3, 2, 2, 2, 1, 1, ...","[35, 35, 35]",607
583,153849290,"[30, 29, 28, 28, 27, 26, 25, 24, 23, 22, 21, 2...","[31, 30, 30]",136
272,43412276,"[1, 1, 1, 2, 2, 1, 2, 5, 4, 3, 2, 4, 8, 8, 7, ...","[30, 29, 28]",529
1248,149828485,"[4, 3, 2, 1, 1, 1, 4, 4, 3, 2, 2, 2, 1, 2, 1, ...","[27, 26, 25]",207
2906,144969458,"[1, 1, 1, 1, 1, 1, 3, 3, 2, 1, 1, 1, 1, 1, 1, ...","[27, 26, 25]",205
350,52377417,"[1, 1, 1, 1, 1, 1, 1, 26, 26, 26, 26, 25, 24, ...","[26, 26, 26]",54
2684,81087530,"[7, 7, 6, 5, 5, 4, 3, 3, 2, 2, 2, 1, 2, 3, 3, ...","[25, 24, 24]",166
525,24889654,"[1, 1, 2, 1, 23, 24, 24, 24, 24, 24, 24, 24, 2...","[24, 24, 24]",37
294,91799978,"[14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 3, 2...","[24, 23, 23]",707
134,84301799,"[10, 10, 9, 8, 7, 6, 5, 4, 4, 3, 2, 1, 2, 1, 1...","[24, 23, 23]",501
1185,82060005,"[1, 1, 21, 21, 21, 24, 23, 23, 22, 21, 20, 20,...","[24, 23, 23]",34
1928,137739819,"[3, 2, 1, 2, 1, 2, 2, 3, 3, 3, 3, 2, 4, 3, 2, ...","[23, 23, 22]",278
3252,95458810,"[3, 2, 1, 2, 4, 3, 2, 2, 1, 1, 1, 1, 7, 6, 5, ...","[23, 22, 21]",56
36,39938958,"[2, 1, 1, 3, 2, 1, 3, 8, 10, 9, 8, 7, 10, 9, 8...","[23, 22, 21]",244
469,36597337,"[4, 3, 2, 1, 1, 2, 2, 2, 2, 2, 6, 5, 4, 3, 2, ...","[22, 22, 21]",179
3283,141605629,"[1, 22, 21, 20, 20, 19, 19, 18, 18, 18, 17, 16...","[22, 21, 20]",39
16,65883234,"[1, 3, 2, 3, 3, 2, 1, 17, 22, 21, 20, 19, 18, ...","[22, 21, 20]",231
89,25924280,"[11, 11, 10, 9, 10, 9, 8, 7, 6, 5, 5, 4, 5, 4,...","[20, 20, 20]",655
1035,34910509,"[9, 9, 9, 8, 7, 7, 6, 5, 4, 3, 2, 1, 5, 4, 3, ...","[20, 19, 19]",515
6,107921853,"[6, 5, 4, 6, 6, 5, 5, 4, 3, 3, 2, 3, 3, 2, 2, ...","[20, 19, 18]",684
119,32504026,"[9, 8, 8, 8, 7, 6, 5, 4, 3, 2, 1, 3, 2, 1, 3, ...","[19, 18, 17]",516
343,192785588,"[8, 9, 8, 7, 6, 5, 4, 4, 3, 2, 1, 2, 1, 2, 1, ...","[18, 18, 18]",260
66,64492135,"[3, 2, 1, 2, 1, 1, 1, 1, 3, 2, 1, 1, 12, 12, 1...","[18, 18, 17]",222
512,57189823,"[4, 4, 4, 5, 4, 4, 3, 4, 4, 4, 3, 2, 2, 2, 2, ...","[17, 17, 17]",687
2611,143281052,"[2, 1, 1, 1, 1, 3, 3, 2, 1, 4, 3, 2, 2, 1, 1, ...","[17, 16, 16]",100
...,...,...,...,...
12517,191877358,[1],[1],1
12520,201530484,[1],[1],1
12551,201533492,[1],[1],1
12572,53066156,[1],[1],1
12571,60468747,[1],[1],1
12570,156511424,[1],[1],1
12568,211898455,[1],[1],1
12567,189510333,[1],[1],1
12564,173491760,[1],[1],1
12562,129405426,[1],[1],1
12560,203090989,[1],[1],1
12559,173789961,[1],[1],1
12556,199251233,[1],[1],1
12555,132863392,[1],[1],1
12552,173794195,[1],[1],1
12550,209173272,[1],[1],1
12522,47176,[1],[1],1
12547,167626908,[1],[1],1
12546,198682677,[1],[1],1
12545,162300220,[1],[1],1
12542,186974943,[1],[1],1
12541,213235823,[1],[1],1
12537,201237880,[1],[1],1
12536,186994659,[1],[1],1
12535,162288782,[1],[1],1
12534,173701673,[1],[1],1
12530,173191453,[1],[1],1
12528,208951083,[1],[1],1
12523,41821807,[1],[1],1
18769,147118226,[1],[1],1

In [490]:
dfslices[dfslices.max_slice >= 3]

,shopid,slice,max_slice,number_slice
0,93950878,"[2, 2, 1, 2, 3, 2, 1, 1, 3, 2, 1, 2, 3, 6, 5, ...",8,124
1,156423439,"[1, 2, 2, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 3, 3, ...",4,41
2,173699291,"[2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, ...",5,53
4,127249066,"[1, 2, 1, 2, 1, 2, 3, 3, 2, 2, 2, 2, 1, 2, 1, ...",5,122
5,173811070,"[1, 1, 1, 1, 2, 1, 1, 2, 2, 1, 4, 3, 2, 1, 1, ...",4,35
6,107921853,"[6, 5, 4, 6, 6, 5, 5, 4, 3, 3, 2, 3, 3, 2, 2, ...",20,684
7,178400128,"[4, 3, 2, 1, 1, 1, 1, 3, 2, 1, 3, 2, 3, 2, 2, ...",4,78
8,147941492,"[269, 268, 267, 266, 265, 264, 263, 263, 262, ...",551,11703
10,9374147,"[4, 3, 6, 5, 8, 7, 6, 5, 5, 4, 3, 2, 2, 3, 3, ...",12,385
11,145694343,"[2, 1, 3, 2, 2, 3, 2, 2, 1, 4, 3, 2, 1, 5, 4, ...",6,121
13,30988921,"[5, 5, 4, 3, 2, 1, 4, 3, 3, 2, 1, 3, 4, 4, 3, ...",7,192
15,67162407,"[1, 1, 1, 1, 2, 3, 2, 1, 1, 1, 1, 1, 1, 1, 1, ...",4,44
16,65883234,"[1, 3, 2, 3, 3, 2, 1, 17, 22, 21, 20, 19, 18, ...",22,231
17,33242381,"[4, 3, 2, 1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, ...",4,35
18,3285661,"[2, 2, 2, 1, 1, 3, 2, 3, 2, 1, 1, 1, 2, 1, 1, ...",3,41
19,95138572,"[1, 3, 2, 1, 2, 1, 1, 3, 2, 1, 1, 3, 3, 3, 2, ...",4,62
21,12662873,"[1, 3, 6, 5, 4, 3, 3, 2, 2, 1, 6, 5, 4, 3, 2, ...",6,133
22,152569117,"[1, 1, 1, 1, 1, 1, 3, 2, 1, 1, 1, 2, 1, 1, 1, ...",3,24
23,8051258,"[1, 1, 1, 3, 2, 1, 1, 2, 1, 4, 4, 3, 2, 1, 1, ...",6,104
24,12480907,"[4, 3, 2, 1, 1, 2, 1, 1, 2, 1, 1, 1, 2, 1, 5, ...",5,66
25,60239193,"[1, 1, 1, 1, 1, 3, 2, 1, 2, 2, 1, 1]",3,12
28,51526935,"[1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, ...",3,51
29,195394274,"[1, 2, 1, 1, 1, 2, 2, 2, 1, 3, 2, 1, 1, 1, 1, ...",3,20
30,52637837,"[2, 1, 4, 3, 2, 1, 1, 1, 1, 2, 1, 2, 1, 2, 1]",4,15
31,43719124,"[1, 1, 1, 1, 2, 2, 2, 1, 2, 1, 5, 4, 3, 2, 1, ...",6,91
33,161269907,"[6, 6, 5, 4, 3, 2, 5, 6, 5, 4, 3, 2, 1, 1, 7, ...",14,384
34,1175477,"[2, 1, 1, 1, 2, 1, 1, 4, 3, 2, 1, 2, 1, 1, 3, ...",5,110
36,39938958,"[2, 1, 1, 3, 2, 1, 3, 8, 10, 9, 8, 7, 10, 9, 8...",23,244
38,93363430,"[1, 7, 6, 5, 5, 4, 3, 2, 2, 5, 4, 3, 3, 3, 2, ...",7,53
39,96757689,"[1, 2, 1, 1, 2, 1, 1, 3, 4, 3, 2, 1, 2, 2, 4, ...",7,189
...,...,...,...,...
11465,16680589,"[1, 4, 3, 2, 1, 1]",4,6
11470,203070501,"[3, 2, 1]",3,3
11487,107937852,"[1, 3, 2, 1, 1, 1]",3,6
11611,190860392,"[4, 3, 2, 1, 1, 8, 7, 6, 5, 4, 3, 2, 1, 2, 1, 1]",8,16
11951,137941933,"[3, 2, 1]",3,3
11982,163351089,"[3, 2, 1]",3,3
12009,11720770,"[1, 3, 2, 1, 1, 1, 1]",3,7
12122,190691379,"[3, 2, 1]",3,3
12258,173454640,"[3, 2, 1, 1]",3,4
12392,129113839,"[3, 2, 1]",3,3
12471,213900783,"[1, 1, 3, 2, 1, 1, 1]",3,7
12499,166867205,"[3, 2, 1]",3,3
12513,123401085,"[4, 3, 2, 1]",4,4
12527,161196859,"[3, 2, 1]",3,3
12539,198172755,"[2, 1, 2, 1, 1, 3, 2, 1, 2, 1, 1, 3, 2, 1]",3,14
12687,3124091,"[3, 2, 1]",3,3
12696,168765110,"[3, 2, 1, 1, 1]",3,5
12699,6859066,"[1, 3, 2, 1, 1, 1, 1]",3,7
12754,78837196,"[4, 3, 2, 1, 1]",4,5
12831,156893124,"[1, 1, 1, 1, 1, 4, 3, 2, 1]",4,9
12954,189544563,"[1, 3, 2, 1]",3,4
13774,199328999,"[1, 3, 2, 1, 1, 1]",3,6
13958,64369518,"[3, 2, 1, 1, 1, 1]",3,6
13971,12399291,"[3, 2, 1, 1, 1]",3,5
14302,83234229,"[1, 4, 3, 2, 1]",4,5
14467,35494109,"[4, 3, 2, 1]",4,4
14743,182871175,"[3, 2, 1]",3,3
15234,201515990,"[3, 2, 1, 1]",3,4
15399,140813597,"[3, 2, 1]",3,3
15912,157939195,"[3, 2, 1]",3,3

In [348]:
df_brushing_forward = pd.DataFrame(columns = ['orderid','shopid','userid','event_time'])
for i in tqdm(shopids):
    sample = df[df.shopid == i].sort_values('event_time')
    brush_period = pd.DataFrame(columns = ['orderid','shopid','userid','event_time'])
    for j in sample.event_time:
        df_slice = sample[(sample.event_time >= j) & (sample.event_time <= j+pd.Timedelta('1H'))]
        conc = df_slice.orderid.count()/df_slice.userid.nunique()
        if conc >= 3:
            brush_period = pd.concat((brush_period,df_slice), axis = 0).sort_values('event_time')
    if len(brush_period) != 0:
        brush_period = brush_period.drop_duplicates(subset='orderid', keep = 'first')
        df_brushing_forward = pd.concat((df_brushing_forward, brush_period), axis = 0)
        fraud_shop.append(i)
        mode_user = sorted(list(brush_period.userid.value_counts().index[brush_period.userid.value_counts().values == max(brush_period.userid.value_counts().values)]))        
        fraud_buyer.append(mode_user)

HBox(children=(IntProgress(value=0, max=18770), HTML(value='')))

In [355]:
df_brushing_backward = pd.DataFrame(columns = ['orderid','shopid','userid','event_time'])
fraud_shop = []
fraud_buyer = []
for i in tqdm(shopids):
    sample = df[df.shopid == i].sort_values('event_time')
    brush_period = pd.DataFrame(columns = ['orderid','shopid','userid','event_time'])
    for orders in sample.orderid:
        j = sample.loc[sample.orderid == orders,'event_time'].values[0]
        df_slice = sample[(sample.event_time <= j) & (sample.event_time >= j-pd.Timedelta('1H'))]
        conc = df_slice.orderid.count()/df_slice.userid.nunique()
        if conc >= 3:
            brush_period = pd.concat((brush_period,df_slice), axis = 0).sort_values('event_time')
    if len(brush_period) != 0:
        brush_period = brush_period.drop_duplicates(subset='orderid', keep = 'first')
        df_brushing_backward = pd.concat((df_brushing_backward, brush_period), axis = 0)
        fraud_shop.append(i)
        mode_user = sorted(list(brush_period.userid.value_counts().index[brush_period.userid.value_counts().values == max(brush_period.userid.value_counts().values)]))        
        fraud_buyer.append(mode_user)

HBox(children=(IntProgress(value=0, max=18770), HTML(value='')))

In [374]:
def brushdf(df_brushing_forward):
    fraud_shop = df_brushing_forward.shopid.unique()
    fraud_buyer = []
    for i in fraud_shop:
        brush_period = df_brushing_forward[df_brushing_forward.shopid == i]
        mode_user = sorted(list(brush_period.userid.value_counts().index[brush_period.userid.value_counts().values == max(brush_period.userid.value_counts().values)]))
        fraud_buyer.append(mode_user)
        
    # Create new dataframe
    final_csv = pd.DataFrame(
        {'shopid': fraud_shop,
         'userid': fraud_buyer,})
    final_csv.loc[:,'userid'] = final_csv.userid.apply(lambda x: ('&').join([str(i) for i in x]))
    final_csv

    # Concat list of non-fraudulent shops
    notfraud = [x for x in shopids if x not in fraud_shop]
    final_csv = pd.concat((final_csv, pd.DataFrame({'shopid': notfraud,
                 'userid': [str(0)]*len(notfraud)})), axis = 0).set_index('shopid')

    return final_csv

In [392]:
len(union[union.userid != '0']) #- len(intersection[intersection.userid != '0'])

308

In [431]:
# Using +- 30 minutes 
df_30 = pd.DataFrame(columns = ['orderid','shopid','userid','event_time'])
for i in tqdm(shopids):
    sample = df[df.shopid == i].sort_values('event_time')
    brush_period = pd.DataFrame(columns = ['orderid','shopid','userid','event_time'])
    for j in sample.event_time:
        df_slice = sample[(sample.event_time >= j-pd.Timedelta('30M')) & (sample.event_time <= j+pd.Timedelta('30M'))]
        conc = df_slice.orderid.count()/df_slice.userid.nunique()
        if conc >= 3:
            brush_period = pd.concat((brush_period,df_slice), axis = 0).sort_values('event_time')
    if len(brush_period) != 0:
        brush_period = brush_period.drop_duplicates(subset='orderid', keep = 'first')
        df_30 = pd.concat((df_30, brush_period), axis = 0)

HBox(children=(IntProgress(value=0, max=18770), HTML(value='')))

In [442]:
# Using +- 45 minutes 
df_45 = pd.DataFrame(columns = ['orderid','shopid','userid','event_time'])
for i in tqdm(shopids):
    sample = df[df.shopid == i].sort_values('event_time')
    brush_period = pd.DataFrame(columns = ['orderid','shopid','userid','event_time'])
    for j in sample.event_time:
        df_slice = sample[(sample.event_time >= j-pd.Timedelta('45M')) & (sample.event_time <= j+pd.Timedelta('15M'))]
        conc = df_slice.orderid.count()/df_slice.userid.nunique()
        if conc >= 3:
            brush_period = pd.concat((brush_period,df_slice), axis = 0).sort_values('event_time')
    if len(brush_period) != 0:
        brush_period = brush_period.drop_duplicates(subset='orderid', keep = 'first')
        df_45 = pd.concat((df_45, brush_period), axis = 0)

HBox(children=(IntProgress(value=0, max=18770), HTML(value='')))

In [447]:
rolling45 = brushdf(df_45).rename(columns = {'userid':'df45'})

In [457]:
fb30 = brushdf(pd.concat((df_brushing_forward, df_brushing_backward, df_30), axis = 0).drop_duplicates(subset = 'orderid', keep = 'first')).rename(columns ={'userid':'fb30'})
fb3045 = brushdf(pd.concat((df_brushing_forward, df_brushing_backward, df_30, df_45), axis = 0).drop_duplicates(subset = 'orderid', keep = 'first'))#.rename(columns = {'userid':'fb3045'})

# bleh = fb3045.join(fb30)
# bleh[bleh.fb3045 != bleh.fb30]

In [460]:
fb3045.to_csv('31GB_4515.csv')

In [441]:
# with 30
fb30 = brushdf(pd.concat((df_brushing_forward, df_brushing_backward, df_30), axis = 0).drop_duplicates(subset = 'orderid', keep = 'first')).rename({'userid':'fb30'})
bleh = fb30.join(union)
bleh[bleh.userid != bleh.union]

              userid union
shopid
9374147    148176353     0
10159      214988798     0
120358496  210701971     0
9466594     84811421     0

In [391]:
# Get intersection between forward and backward periods and analyze
intersection = brushdf(df_brushing_forward[df_brushing_forward.orderid.isin(df_brushing_backward.orderid)])

# Get union between forward and backward
union = brushdf(pd.concat((df_brushing_forward, df_brushing_backward), axis = 0).drop_duplicates(subset = 'orderid', keep = 'first'))

# Try analysis again on forward and see if you get the same results

In [430]:
df

               orderid     shopid     userid          event_time
0       31076582227611   93950878   30530270 2019-12-27 00:23:03
1       31118059853484  156423439   46057927 2019-12-27 11:54:20
2       31123355095755  173699291   67341739 2019-12-27 13:22:35
3       31122059872723   63674025  149380322 2019-12-27 13:01:00
4       31117075665123  127249066  149493217 2019-12-27 11:37:55
5       31119725718155  173811070  116451780 2019-12-27 12:22:05
6       31151322178251  107921853  166741763 2019-12-27 21:08:43
7       31079856153738  178400128   61272835 2019-12-27 01:17:37
8       31118426867571  147941492   10986763 2019-12-27 12:00:27
9       31133458226149  164933170  135957741 2019-12-27 16:10:59
10      31087300300603    9374147  126960343 2019-12-27 03:21:40
11      31111874726505  145694343   51755513 2019-12-27 10:11:14
12      31160253480807   96464079   67549902 2019-12-27 23:37:33
13      31121051803936   30988921   96009561 2019-12-27 12:44:12
14      31118157638442  199867753   60686479 2019-12-27 11:55:58
15      31147202450773   67162407   71298029 2019-12-27 20:00:03
16      31123334888264   65883234   29949602 2019-12-27 13:22:15
17      31112236079482   33242381  145692427 2019-12-27 10:17:16
18      31079619874401    3285661   59050947 2019-12-27 01:13:40
19      31135103577841   95138572   16021925 2019-12-27 16:38:24
20      31155004739678     286003   42990566 2019-12-27 22:10:04
21      31137150698938   12662873  119483527 2019-12-27 17:12:30
22      31136453435644  147941492  206749550 2019-12-27 17:00:53
23      31151879787970  152569117   94844834 2019-12-27 21:18:00
24      31113362630679    8051258  122192495 2019-12-27 10:36:02
25      31078725610195   12480907  214216148 2019-12-27 00:58:45
26      31105368345986   60239193  203188391 2019-12-27 08:22:48
27      31159343053900  106779896   66877622 2019-12-27 23:22:23
28      31159716753010  111250776  180011967 2019-12-27 23:28:36
29      31091333423249   51526935   88928116 2019-12-27 04:28:53
...                ...        ...        ...                 ...
222720  31245775344168  160356872   72620944 2019-12-28 23:22:56
222721  31208765980477  128270157   69460731 2019-12-28 13:06:05
222722  31211946392419  203587596   43116614 2019-12-28 13:59:06
222723  31236998346020   20545947   28035330 2019-12-28 20:56:39
222724  31235339186249  200773571   22595663 2019-12-28 20:29:00
222725  31173369000956  147118226   47283981 2019-12-28 03:16:09
222726  31200078829229   80066557  133203727 2019-12-28 10:41:19
222727  31222671551811  101590068  159948979 2019-12-28 16:57:51
222728  31222787327915    2625195  174552289 2019-12-28 16:59:47
222729  31219084511207  170113299   33067401 2019-12-28 15:58:04
222730  31191494842251   10915894   59147132 2019-12-28 08:18:14
222731  31247215466561   64909117   89113013 2019-12-28 23:46:55
222732  31224173718751   21672386    2554613 2019-12-28 17:22:53
222733  31226882027953   72564403   70678831 2019-12-28 18:08:03
222734  31163753743032   33909939   81667578 2019-12-28 00:35:53
222735  31211834479397  140625672  198406733 2019-12-28 13:57:14
222736  31216467680276  150534543  100392279 2019-12-28 15:14:27
222737  31228320580611  116348348  179254139 2019-12-28 18:32:00
222738  31224298483517  168919520   45004703 2019-12-28 17:24:58
222739  31218511979412  193901318   91127063 2019-12-28 15:48:31
222740  31218883868285   51487475    5624592 2019-12-28 15:54:44
222741  31217416973582   40959403   36305552 2019-12-28 15:30:16
222742  31238869967435   76372898   55114470 2019-12-28 21:27:49
222743  31161855258567   68735256   51290496 2019-12-28 00:04:15
222744  31234781106359   60317321   41654255 2019-12-28 20:19:42
222745  31245479170194  110868129  193218997 2019-12-28 23:17:59
222746  31230440360374   91639906    3541807 2019-12-28 19:07:20
222747  31191471145838   29391773  135908070 2019-12-28 08:17:52
222748  31198471732255   61556313   27306783 2019-12-28 10:14:31
222749  31164356713822  147941492  127484153 2019-12-28 00:45:56

[222750 rows x 4 columns]

In [428]:
bleh = union.join(forwards_backwards)
bleh[(bleh.userid != bleh.forback)]

Empty DataFrame
Columns: [userid, forback]
Index: []

In [425]:
# Check differences between union and 'manual' edit
# union.rename()
forwards_backwards.rename(columns = {'userid':'forback'}, inplace = True)

In [346]:
# Create new dataframe
final_csv = pd.DataFrame(
    {'shopid': fraud_shop,
     'userid': fraud_buyer,})
final_csv.loc[:,'userid'] = final_csv.userid.apply(lambda x: ('&').join([str(i) for i in x]))
final_csv

# Concat list of non-fraudulent shops
notfraud = [x for x in shopids if x not in fraud_shop]
final_csv = pd.concat((final_csv, pd.DataFrame({'shopid': notfraud,
             'userid': [str(0)]*len(notfraud)})), axis = 0).set_index('shopid')

# Export as csv
final_csv.to_csv('31GB_pathy_orderid.csv')

In [208]:
# Cross check with Raven's
raven = pd.read_csv('31GB_raven4.csv').set_index('shopid')
raven.rename(columns ={'userid':'ravenuser'}, inplace = True)

In [237]:
len(raven[raven.ravenuser != '0'])

264

In [240]:
len(final_csv[final_csv.userid != '0']) - len(raven[raven.ravenuser != '0'])

12

In [260]:
# Going backward in timedelta
df_brushing = pd.DataFrame(columns = ['orderid','shopid','userid','event_time'])
fraud_shop = []
fraud_buyer = []
for i in tqdm(shopids):
    sample = df[df.shopid == i].sort_values('event_time')
    brush_period = pd.DataFrame(columns = ['orderid','shopid','userid','event_time'])
    for j in sample.event_time:
        df_slice = sample[(sample.event_time <= j) & (sample.event_time >= j-pd.Timedelta('1H'))]
        conc = df_slice.orderid.count()/df_slice.userid.nunique()
        if conc >= 3:
            brush_period = pd.concat((brush_period,df_slice), axis = 0).sort_values('event_time')
    if len(brush_period) != 0:
        brush_period = brush_period.drop_duplicates(subset='orderid', keep = 'first')
        df_brushing = pd.concat((df_brushing, brush_period), axis = 0)
        fraud_shop.append(i)
        mode_user = sorted(list(brush_period.userid.value_counts().index[brush_period.userid.value_counts().values == max(brush_period.userid.value_counts().values)]))        
        fraud_buyer.append(mode_user)

HBox(children=(IntProgress(value=0, max=18770), HTML(value='')))

In [397]:
# Get forwards and backwards list
backwards = pd.read_csv('31GB_pathy_backward.csv').set_index('shopid')
forwards = pd.read_csv('31GB_pathy.csv').set_index('shopid')
forwards.rename(columns = {'userid':'forwards'}, inplace = True)
backwards.rename(columns = {'userid':'backwards'}, inplace = True)

In [410]:
# check with myself
check = forwards.join(backwards)
concat_diff = check[check.forwards != check.backwards]
concat_diff = concat_diff.replace('0', np.nan)

# Create list of userids
concat_diff.loc[concat_diff.forwards.notna(), 'forwards'] = concat_diff[concat_diff.forwards.notna()].forwards.apply(lambda x: x.split('&'))
concat_diff.loc[concat_diff.backwards.notna(), 'backwards'] = concat_diff[concat_diff.backwards.notna()].backwards.apply(lambda x: x.split('&'))

# Fill forwards and backwards
concat_diff.ffill(axis = 1, inplace = True)
concat_diff.bfill(axis = 1, inplace = True)

# # Join two lists
concat_diff.loc[:,'userid'] = concat_diff['forwards'] + concat_diff['backwards']
concat_diff

# Drop duplicates
unique_list = lambda x: list(dict.fromkeys(x))
concat_diff.loc[:,'userid'] = concat_diff.userid.apply(lambda x: ('&').join([str(i) for i in sorted([int(x) for x in (unique_list(x))])]))

In [413]:
#Get same from forwards and backwards
same_check = pd.DataFrame(check[check.forwards == check.backwards].loc[:,'forwards'])
same_check.rename(columns={'forwards':'userid'}, inplace = True)

#Concat different from forwards and backwards
forwards_backwards = pd.concat((same_check, pd.DataFrame(concat_diff.loc[:,'userid'])), axis = 0)

In [363]:
len(check[(check.forwards != check.backwards)& (check.backwards == '0')])

44

In [259]:
# CHECKING CHUNK
i = 156248768
sample = df[df.shopid == i].sort_values('event_time')
brush_period = pd.DataFrame(columns = ['orderid','shopid','userid','event_time'])
for j in sample.event_time:
    df_slice = sample[(sample.event_time <= j) & (sample.event_time >= j-pd.Timedelta('1H'))]
    conc = df_slice.orderid.count()/df_slice.userid.nunique()
    print(conc)
    if conc >= 3:
        brush_period = pd.concat((brush_period,df_slice), axis = 0).sort_values('event_time')
# brush_period = brush_period.drop_duplicates(subset='orderid', keep = 'first')
# mode_user = sorted(list(brush_period.userid.value_counts().index[brush_period.userid.value_counts().values == max(brush_period.userid.value_counts().values)]))

1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.5
1.3333333333333333
1.25
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
2.0
3.0
2.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0

In [232]:
mode_user

[213502289]

In [200]:
raven

          shopid    userid
0        6042309         0
1      104804492         0
2        8715449         0
3      190969466         0
4        2859407         0
5       94479614         0
6       65551316         0
7      147941492         0
8       54615708         0
9      127236302         0
10     137739819         0
11      26218382         0
12      18784836         0
13      57934775         0
14      31733346         0
15       9374147         0
16      29975426         0
17        316121         0
18     141528773         0
19     112904482         0
20      68862371  67554410
21      77581273         0
22      70519503         0
23      64388529         0
24      38440816         0
25     134869882         0
26      72368583         0
27      45084333         0
28       9466594         0
29       5859784         0
...          ...       ...
18740  191425071         0
18741  173794542         0
18742  191956620         0
18743  202216222         0
18744   27221309         0
18745  176415696         0
18746  184350148         0
18747  162183938         0
18748  173548859         0
18749  173322144         0
18750  212002799         0
18751  163289020         0
18752  186980122         0
18753  187026549         0
18754  173488816         0
18755  208691471         0
18756  154480273         0
18757  187128778         0
18758  213507904         0
18759  160382749         0
18760  203547767         0
18761  195246165         0
18762  208693753         0
18763  195869217         0
18764   76668107         0
18765  173249173         0
18766  212058195         0
18767     577768         0
18768  162561288         0
18769  203090989         0

[18770 rows x 2 columns]

In [198]:
final_csv.sort_values('usercount', ascending = False)

                        userid  usercount
shopid
54257623     1974334&107414154        2.0
175531295  187697407&215009429        2.0
156883302   76102350&188025647        2.0
181009364  101832161&214208720        2.0
155143347  156202149&214265994        2.0
143281052   99517130&186080843        2.0
51134277    29857724&212200633        2.0
1175477              122277324        1.0
736620                62618064        1.0
162282525            162389170        1.0
117079735             37915675        1.0
68609828             183440131        1.0
63888299             112649507        1.0
153444897            169948888        1.0
203440274             73308605        1.0
15920950             211907762        1.0
10536                   672345        1.0
48970010             207880909        1.0
195531               214992524        1.0
605561               181682008        1.0
10402                    77819        1.0
80890996              77374158        1.0
201428849             89254393        1.0
35590237               2097773        1.0
43596797             214226569        1.0
213141071            213646699        1.0
120692254            214265994        1.0
149725779             70086843        1.0
71007731             214778616        1.0
186369695            174783274        1.0
...                        ...        ...
201517779                    0        NaN
191401581                    0        NaN
163218938                    0        NaN
162307335                    0        NaN
21508218                     0        NaN
173184505                    0        NaN
137401186                    0        NaN
34760488                     0        NaN
31435706                     0        NaN
53749242                     0        NaN
1702198                      0        NaN
74263634                     0        NaN
186664920                    0        NaN
162269169                    0        NaN
201180046                    0        NaN
156895254                    0        NaN
156180781                    0        NaN
147441016                    0        NaN
195793892                    0        NaN
160363863                    0        NaN
186985242                    0        NaN
110671146                    0        NaN
189442502                    0        NaN
196668026                    0        NaN
191594303                    0        NaN
163337224                    0        NaN
772599                       0        NaN
50236030                     0        NaN
203587596                    0        NaN
147118226                    0        NaN

[18770 rows x 2 columns]

In [188]:
df_brushing

               orderid     shopid     userid          event_time
21027   31243838739795    1175477  122277324 2019-12-28 22:50:39
9409    31244142101712    1175477  122277324 2019-12-28 22:55:42
190109  31244747422135    1175477  122277324 2019-12-28 23:05:47
186125  31247365651612   66861410  213502289 2019-12-28 23:49:26
45551   31248087439155   66861410  213502289 2019-12-29 00:01:27
180814  31249068920318   66861410  213502289 2019-12-29 00:17:48
119754  31158495379642    8715449    9753706 2019-12-27 23:08:15
148038  31158633469991    8715449    9753706 2019-12-27 23:10:33
111247  31158746900290    8715449    9753706 2019-12-27 23:12:26
77275   31303367297188   58543771   61893096 2019-12-29 15:22:48
20524   31303675289511   58543771   61893096 2019-12-29 15:27:56
148343  31303724195789   58543771   61893096 2019-12-29 15:28:44
221157  31328905645846  156883302  188025647 2019-12-29 22:28:26
79841   31328907861169  156883302   62035438 2019-12-29 22:28:28
22722   31329531659592  156883302  188025647 2019-12-29 22:38:52
54650   31329646665119  156883302  188025647 2019-12-29 22:40:46
46225   31329815906147  156883302  188025647 2019-12-29 22:43:35
43415   31330376385370  156883302  188025647 2019-12-29 22:52:56
68570   31452303181777  156883302  187119675 2019-12-31 08:45:03
76749   31454890435861  156883302   76102350 2019-12-31 09:28:10
106431  31455033816889  156883302   76102350 2019-12-31 09:30:34
176313  31455125779720  156883302   76102350 2019-12-31 09:32:05
192789  31455280116511  156883302   76102350 2019-12-31 09:34:40
42083   31455671865945  156883302   76102350 2019-12-31 09:41:12
39021   31132694612991    1532569  181408876 2019-12-27 15:58:14
121755  31132736620123    1532569  181408876 2019-12-27 15:58:56
187447  31132775359003    1532569  181408876 2019-12-27 15:59:35
124517  31110303399704   27476241  174145893 2019-12-27 09:45:03
80237   31112047495508   27476241  174145893 2019-12-27 10:14:07
152271  31112203686383   27476241  174145893 2019-12-27 10:16:43
...                ...        ...        ...                 ...
210715  31491062994911  123401085   12869645 2019-12-31 19:31:02
99926   31491263671065  123401085   12869645 2019-12-31 19:34:23
81253   31491370985048  123401085   12869645 2019-12-31 19:36:10
88572   31491537156944  123401085   12869645 2019-12-31 19:38:57
135231  31226748101618  161196859  180862522 2019-12-28 18:05:48
220784  31226777927561  161196859  180862522 2019-12-28 18:06:17
81421   31226895714211  161196859  180862522 2019-12-28 18:08:15
198668  31194156183521  198172755  129799840 2019-12-28 09:02:36
98423   31194243690694  198172755  129799840 2019-12-28 09:04:04
181852  31194359164912  198172755  129799840 2019-12-28 09:06:00
83638   31196221636418    3124091  214568881 2019-12-28 09:37:02
105200  31197105243943    3124091  214568881 2019-12-28 09:51:46
128320  31197259191013    3124091  214568881 2019-12-28 09:54:19
178891  31127546872349   78837196   78903959 2019-12-27 14:32:27
171915  31127582299599   78837196   78903959 2019-12-27 14:33:03
168692  31127616862243   78837196   78903959 2019-12-27 14:33:37
84554   31127731820569   78837196   78903959 2019-12-27 14:35:32
87868   31506705718985  189544563     799445 2019-12-31 23:51:45
127046  31506846771217  189544563     799445 2019-12-31 23:54:06
95074   31506984153646  189544563     799445 2019-12-31 23:56:25
200997  31285680235596   64369518  172591713 2019-12-29 10:28:00
197066  31285805869936   64369518  172591713 2019-12-29 10:30:06
210425  31286301342631   64369518  172591713 2019-12-29 10:38:21
154049  31463267557058   83234229  181942741 2019-12-31 11:47:47
218437  31463422136491   83234229  181942741 2019-12-31 11:50:23
147132  31463782328525   83234229  181942741 2019-12-31 11:56:22
172243  31463949590569   83234229  181942741 2019-12-31 11:59:09
144800  31142028723527  157939195   69563623 2019-12-27 18:33:48
203510  31142061920722  157939195   69563623 2019-12-27 18:34:21
171994  31142102987828  157939195   69563623 2019-12-27 18:35:02

[1004 rows x 4 columns]

In [92]:
from collections import Counter
from itertools import groupby

l = [1,2,3,3,3,4,4,4,5,5,6,6,6]

# group most_common output by frequency
freqs = groupby(Counter(l).most_common(), lambda x:x[1])
# pick off the first group (highest frequency)
print([val for val,count in next(freqs)[1]])
# prints [3, 4, 6]

[3, 4, 6]

In [103]:
my_unique = lambda x: len(np.unique(x))
concentrate = lambda sample: sample.orderid.rolling('1H', closed='both').count()/sample.userid.rolling('1H', closed='both').apply(my_unique)
 
def get_order_brushing_user(shopid):
    sample = df.loc[df.shopid==shopid].copy(deep=True)
    c_rate = concentrate(sample)
    if sum(concentrate(sample)>=3)>0:        
        sample['c_rate'] = list(concentrate(sample))
#         prop = sample.groupby(by=['userid']).rolling('1H').orderid.count().div(sample.reset_index().groupby(by="event_time").orderid.count().rolling('1H').sum(), level='event_time').reset_index()
        brush_index = sample.loc[sample.c_rate>=3].index    
        sample = pd.concat([sample.loc[(i-pd.Timedelta('1H')):i] for i in brush_index]).sort_index()
#         prop = sample.groupby(by=['userid']).rolling('1H', closed='both').orderid.count().reset_index().groupby(by='userid').orderid.sum()/sample.rolling('1H', closed='both').orderid.count().sum()
        prop= sample.groupby(by=['userid']).orderid.count()
        return list(np.sort(list(prop[prop==prop.max()].index)))
#         return list(prop[prop.event_time.isin(sample[sample.c_rate>=3].index) & (prop.orderid==prop.orderid.max())].userid)
    else:
        return 0

In [ ]:
for i in

In [100]:
# Sample
i = 156883302
sample = df[df.shopid == i].sort_values('event_time')
sample.loc[sample.event_time == sample.event_time + pd.Timedelta('1H')]

Empty DataFrame
Columns: [orderid, shopid, userid, event_time]
Index: []

In [106]:
sample = df[df.shopid == i].sort_values('event_time')#.set_index('event_time')
sample

               orderid     shopid     userid          event_time
215218  31100672373467  156883302   68977756 2019-12-27 07:04:32
68439   31100977597782  156883302  155379241 2019-12-27 07:09:37
162531  31101488337409  156883302  192062938 2019-12-27 07:18:08
72319   31103141463757  156883302  187119675 2019-12-27 07:45:41
152477  31104942645315  156883302  160218790 2019-12-27 08:15:42
87402   31105140135135  156883302  136087303 2019-12-27 08:19:01
43778   31106329531411  156883302  122736767 2019-12-27 08:38:50
22494   31106974728041  156883302   45050041 2019-12-27 08:49:34
7106    31110087220831  156883302  127299122 2019-12-27 09:41:27
7070    31111060412201  156883302   38945250 2019-12-27 09:57:40
196483  31112368306131  156883302     198978 2019-12-27 10:19:29
16679   31113317704632  156883302   80022509 2019-12-27 10:35:17
8139    31113387412632  156883302  117615979 2019-12-27 10:36:27
191942  31114283969578  156883302  187119675 2019-12-27 10:51:23
148253  31117602042023  156883302  190238289 2019-12-27 11:46:42
199256  31118803533703  156883302  187119675 2019-12-27 12:06:43
35733   31118964621411  156883302  117615979 2019-12-27 12:09:24
15084   31119488985809  156883302   64779602 2019-12-27 12:18:08
57845   31120598220349  156883302  198433313 2019-12-27 12:36:39
36770   31122686230268  156883302  163729331 2019-12-27 13:11:27
132908  31125420487443  156883302   62035438 2019-12-27 13:57:00
152     31130307708583  156883302  189438292 2019-12-27 15:18:27
157987  31130749296918  156883302     198978 2019-12-27 15:25:49
96283   31134825860113  156883302  117615979 2019-12-27 16:33:46
27857   31136872369955  156883302  110142557 2019-12-27 17:07:53
43195   31141162324369  156883302  124244190 2019-12-27 18:19:23
41276   31142163456144  156883302  212982512 2019-12-27 18:36:03
144588  31145790632144  156883302  188025647 2019-12-27 19:36:30
189800  31148613824385  156883302  179055334 2019-12-27 20:23:34
11511   31149535777672  156883302   36621237 2019-12-27 20:38:56
...                ...        ...        ...                 ...
64326   31481689041821  156883302   94071437 2019-12-31 16:54:49
175656  31481806536629  156883302   80750425 2019-12-31 16:56:46
62202   31482623895637  156883302  155025000 2019-12-31 17:10:24
214328  31485126666342  156883302   63172650 2019-12-31 17:52:06
210781  31487348736977  156883302  111795447 2019-12-31 18:29:08
114077  31488481517385  156883302    1245302 2019-12-31 18:48:02
88520   31488490222132  156883302  136087303 2019-12-31 18:48:11
104584  31488890506820  156883302  179055334 2019-12-31 18:54:50
92664   31488991602979  156883302  179055334 2019-12-31 18:56:31
203092  31490334898791  156883302  136087303 2019-12-31 19:18:55
6041    31490378407485  156883302  126677303 2019-12-31 19:19:38
626     31490910127944  156883302   80022509 2019-12-31 19:28:31
91084   31491529206561  156883302  115685913 2019-12-31 19:38:50
81109   31492698514635  156883302   76102350 2019-12-31 19:58:18
61009   31492784709971  156883302   76102350 2019-12-31 19:59:44
85477   31493096713086  156883302  127299122 2019-12-31 20:04:57
145455  31495481015372  156883302   22390899 2019-12-31 20:44:41
15195   31496049964219  156883302  136087303 2019-12-31 20:54:09
153264  31496364780662  156883302   94691068 2019-12-31 20:59:24
110808  31497262926172  156883302  136087303 2019-12-31 21:14:22
181541  31499139457552  156883302  118378805 2019-12-31 21:45:39
158252  31500040175903  156883302  126677303 2019-12-31 22:00:41
117011  31501601415184  156883302  136087303 2019-12-31 22:26:41
172555  31502017328351  156883302   26989920 2019-12-31 22:33:37
500     31503188406976  156883302   76102350 2019-12-31 22:53:08
29187   31503820994594  156883302  127299122 2019-12-31 23:03:40
60897   31504630969332  156883302  188025647 2019-12-31 23:17:10
28565   31504815665112  156883302  198433313 2019-12-31 23:20:16
11750   31504857744231  156883302  188025647 2019-12-31 23:20:57
70904   31505150429300  156883302  188025647 2019-12-31 23:25:50

[277 rows x 4 columns]

In [91]:
# Sample
i = 156883302
sample = df[df.shopid == i].sort_values('event_time').set_index('event_time')
temp = pd.DataFrame(sample.orderid.rolling('1H').count() / sample.userid.rolling('1H').apply(lambda x: len(np.unique(x)), raw = True))
temp.loc[:,'userid_count'] = sample.userid.rolling('1H').apply(lambda x: len(np.unique(x)), raw = True)
# temp.at[:,'userids'] = sample.userid.rolling('1H').apply(lambda x: list(np.unique(x)), raw = True)
# temp[temp >= 3]

sample.userid.rolling('1H').apply(lambda x: ('-').join([str(i) for i in list(np.unique(x))]), raw = True)

TypeError: must be real number, not str

In [59]:
j=0
fraud_shops = []

for i in shopids:
    sample = df[df.shopid == i].sort_values('event_time').set_index('event_time')
    temp = sample.orderid.rolling('1H').count() / sample.userid.rolling('1H').apply(lambda x: len(np.unique(x)), raw = True)
    if len(temp[temp >= 3]) > 0:
        fraud_shops.append(i)
        j+=1
        
print(j)

264

In [63]:
fraud_shops

[1175477,
 156883302,
 1532569,
 27476241,
 28091290,
 80049863,
 210197928,
 104590058,
 188546697,
 43412276,
 68862371,
 86285837,
 156248768,
 192785588,
 52377417,
 131387639,
 87621695,
 130100254,
 50713918,
 169902791,
 42818,
 161160594,
 123548863,
 22800308,
 86368642,
 27015534,
 145777302,
 168046193,
 93358941,
 118949192,
 14184981,
 64394533,
 180676972,
 134968430,
 171407673,
 16001939,
 63001696,
 178273138,
 51134277,
 150526730,
 76668593,
 4888564,
 110641390,
 151556698,
 129460270,
 10206302,
 8996761,
 12078788,
 156246169,
 187570150,
 162043213,
 20522747,
 108170744,
 36641013,
 193424291,
 161277691,
 85648725,
 128300567,
 163968828,
 115179739,
 29650418,
 18190345,
 51487211,
 168388504,
 140626153,
 114919380,
 116337057,
 96460204,
 28164269,
 27987240,
 86822226,
 28812867,
 769445,
 119309887,
 13735592,
 118139770,
 45084184,
 160135616,
 66391375,
 130168935,
 165500538,
 823357,
 130118966,
 108064389,
 195870375,
 201503467,
 104245736,
 11612863,
 173508019,
 128299931,
 2831130,
 11342466,
 14598427,
 187342268,
 54593828,
 107189025,
 68986766,
 106390103,
 4149345,
 722132,
 59617008,
 132583615,
 10498480,
 172439621,
 96555082,
 93295101,
 11474437,
 104278513,
 68478964,
 131670390,
 70009992,
 189031483,
 143281052,
 54054704,
 97167904,
 30740877,
 16246487,
 132834615,
 425364,
 54257623,
 136564914,
 122459518,
 138810304,
 143899665,
 139383672,
 192919438,
 201557550,
 95458810,
 58853808,
 201185983,
 182541768,
 16732896,
 40262957,
 11849988,
 12537642,
 114016125,
 91638688,
 98481320,
 32729279,
 81087553,
 10199219,
 199314784,
 18229789,
 173478708,
 73690472,
 98793086,
 126261266,
 141025402,
 104590579,
 91123657,
 99067259,
 191449441,
 126599655,
 41246368,
 181009364,
 42472,
 87063118,
 71168001,
 75326165,
 11809607,
 17212658,
 163014475,
 119690532,
 182853378,
 17011899,
 175531295,
 172406176,
 126587078,
 143613660,
 48970010,
 10536,
 15920950,
 203440274,
 63888299,
 153444897,
 68609828,
 117079735,
 162282525,
 605561,
 6765647,
 10402,
 87657406,
 176338861,
 162292584,
 54415227,
 63001745,
 188323737,
 76934,
 186369695,
 201428849,
 71007731,
 120692254,
 213141071,
 43596797,
 35590237,
 165020094,
 104955370,
 137762841,
 173318671,
 153335627,
 83366265,
 731606,
 144365607,
 109628767,
 28773787,
 94154189,
 66232769,
 204225676,
 105064701,
 154843675,
 108120403,
 130665582,
 177817260,
 104457555,
 599533,
 106051591,
 87845635,
 192608876,
 60587222,
 3701311,
 31614331,
 17219984,
 119595148,
 103715156,
 41056024,
 148856653,
 100446829,
 135644492,
 156995951,
 133255677,
 173186657,
 191674006,
 139743785,
 19052728,
 153672697,
 203531250,
 83440756,
 73103155,
 208696908,
 152911522,
 50682734,
 155016230,
 168750844,
 145986052,
 58722428,
 122238789,
 134418456,
 152234237,
 191285578,
 182630287,
 16680589,
 203070501,
 163351089,
 173454640,
 129113839,
 123401085,
 161196859,
 198172755,
 3124091,
 78837196,
 189544563,
 64369518,
 83234229,
 157939195]