In [1]:
import pandas as pd
import numpy as np
import itertools

In [7]:
a,b = input().split()
z = input().split()
print(z)

5 1
1 2 3 4 1
['1', '2', '3', '4', '1']

In [45]:
a = [int(x) for x in ('3 5 8').split()]
time = [(a[n] - a[n-1]) for n in range(1,len(a))]

clothes = [int(x) for x in ('4 1 3').split()]

In [46]:
time

[2, 3]

In [42]:
clothes

[4, 1, 3]

In [95]:
list(itertools.product(clothes,time))

[(4, 2), (4, 3), (1, 2), (1, 3), (3, 2), (3, 3)]

In [68]:
dry_dict = dict(zip(time, [list(range(1, t+1)) for t in time]))

In [70]:
dry_dict[2]

[1, 2]

In [61]:
[i for i in clothes if dry_dict]

{2: [1, 2], 3: [1, 2, 3]}

In [85]:
dry_dict

{2: [1, 2], 3: [1, 2, 3]}

In [93]:
[i for i in clothes if i in [range(1, t+1) for t in time]]

[]

# Question 1

SAMPLE INPUT
 
2
3 6
apple lettuce limes avocado
onion cranberries apple limes
escarole corn28corn apple lettuce limes avocado
limes avocado
apple lettuce
limes
apple
app
apple limes


3 3
apple iphone se 2
iphone 11 max pro
iphone 11 pro max
apple iphone
max pro
iphone
 
SAMPLE OUTPUT
 
Case 1:
2
2
3
3
0
1
Case 2:
1
1
3

In [ ]:
t = int(input())
case = 0

while case > t:
    # For 1 case
    n = [int(x) for x in input().split()]
    n, q = n[0], n[1]
    items = []
    i = 0
    while i < n:
        items.append(input())
        i+=1

    queries = []
    i = 0
    while i < q:
        queries.append(input())
        i+=1

    for t_query in queries:
        words = (len([set(listyyy.split()).intersection(set(t_query.split())) for listyyy in items if len(set(listyyy.split()).intersection(set(t_query.split()))) == len(t_query.split())]))
        phrase = (len([x for x in items if t_query in x]))
        if words == phrase:
            print(words)
        else:
            print(min(words,phrase))
    case +=1

t is the number of test cases, n in number of items in database and q is number of queries

In [2]:
# %%time
for case in range(int(input())):
    # For 1 case
    n, q = [int(x) for x in input().split()]
    items = [' ' + input() + ' ' for _ in range(0, n)]
    queries = [' ' + input() + ' ' for _ in range(0,q)]
    print('Case {}:'.format(case+1))
    print(('\n').join([str(len([1 for x in items if t_query in x])) for t_query in queries]))

2
3 6
apple lettuce limes avocado
onion cranberries apple limes
escarole corn28corn apple lettuce limes avocado
limes avocado
apple lettuce
limes
apple
app
apple limes
Case 1:
2
2
3
3
0
1
3 3
apple iphone se 2
iphone 11 max pro
iphone 11 pro max
apple iphone
max pro
iphone
Case 2:
1
1
3

[0, 0, 0]

In [134]:
import re
for case in range(int(input())):
    # For 1 case
    n = [int(x) for x in input().split()]
    n, q = n[0], n[1]
    items = []
    for i in range(0, n):
        items.append(input())
    queries = []
    for i in range(0,q):
        queries.append(input())

    for t_query in queries:
        t_query = ' ' + hi + ' '
        phrase = (len([x for x in [' {} '.format(i) for i in items] if t_query in x]))
    print(phrase)

hi

KeyboardInterrupt:

In [84]:
t_query

' apple limes '

In [85]:
items

['apple lettuce limes avocado',
 'onion cranberries apple limes',
 'escarole corn28corn apple lettuce limes avocado']

[False, False, False]

In [ ]:
a

In [ ]:
a
a

In [6]:
%%time

inp = '''2
3 6
apple lettuce limes avocado
onion cranberries apple limes
escarole corn28corn apple lettuce limes avocado
limes avocado
apple lettuce
limes
apple
app
apple limes
3 3
apple iphone se 2
iphone 11 max pro
iphone 11 pro max
apple iphone
max pro
iphone
'''
# inp = input()
strings = [i.split() for i in inp.split('\n')]
t = int(strings[0][0])
lines = 1

for case in range(int(strings[0][0])):
#     For 1 case
    n, q = int(strings[lines][0]), int(strings[lines][1])
    items = [(' ').join(i) for i in strings[lines+1:lines+1+n]]
    queries = [(' ').join(i) for i in strings[lines+n+1:lines+1+n+q]]
    lines += n+q+1
    print('Case {}:'.format(case+1))
    print(('\n').join([str(len([1 for x in items if t_query in x])) for t_query in queries]))


# for case in range(0, t):
#     n, q = int(strings[lines][0]), int(strings[lines][1])
#     items = [(' ').join(i) for i in strings[lines+1:lines+1+n]]
#     queries = [(' ').join(i) for i in strings[lines+n+1:lines+1+n+q]]
#     lines += n+q+1
#     print('Case {}:'.format(case+1))
#     items = [' {} '.format(i) for i in items]
#     for t_query in queries:
#         phrase = (len([x for x in  if ' ' + t_query + ' ' in x]))
#         print(phrase)

Case 1:
0
0
0
1
1
0
Case 2:
1
1
3
Wall time: 997 µs

In [123]:
(len([set(listyyy.split()).intersection(set(t_query.split())) for listyyy in items if len(set(listyyy.split()).intersection(set(t_query.split()))) == len(t_query.split())]))

3

In [105]:
queries

['apple iphone', 'max pro', 'iphone']

In [119]:
test = [100]*q
test[1] = 0
print("\n".join([str(test) for test in test]))

100
0
100

In [65]:
strings[11]

['3', '3']

In [73]:
items = ['apple lettuce limes avocado',
 'onion cranberries apple limes',
 'escarole corn28corn apple lettuce limes avocado']
queries = ['limes avocado','apple lettuce','limes'
,'apple'
,'app'
,'apple limes']

In [77]:
[' {} '.format(i) for i in items]

[' apple lettuce limes avocado ',
 ' onion cranberries apple limes ',
 ' escarole corn28corn apple lettuce limes avocado ']

In [79]:
for hi in queries:
    t_query = ' ' + hi + ' '
    phrase = (len([x for x in [' {} '.format(i) for i in items] if t_query in x]))
    print(phrase)

2
2
3
3
0
1

In [42]:
for t_query in queries:
        print([set(listyyy.split()).intersection(set(t_query.split())) for listyyy in items if len(set(listyyy.split()).intersection(set(t_query.split()))) == len(t_query.split())])

[{'limes', 'avocado'}, {'limes', 'avocado'}]
[{'lettuce', 'apple'}, {'lettuce', 'apple'}]
[{'limes'}, {'limes'}, {'limes'}]
[{'apple'}, {'apple'}, {'apple'}]
[]
[{'limes', 'apple'}, {'limes', 'apple'}, {'limes', 'apple'}]

In [9]:
for t_query in queries:
        words = (len([set(listyyy.split()).intersection(set(t_query.split())) for listyyy in items if len(set(listyyy.split()).intersection(set(t_query.split()))) == len(t_query.split())]))
        phrase = (len([x for x in items if t_query in x]))
        print(min(words,phrase))

1
1
3

In [24]:
t_query=queries[0]

In [25]:
t_query

'limes avocado'

In [29]:
items[0].split()

['apple', 'lettuce', 'limes', 'avocado']

In [38]:
[i for i in t_query.split() if i in (items[0].split())]

['limes', 'avocado']

In [12]:
import time

In [15]:
1*1e-6

1e-06

In [183]:
start = time.perf_counter()
s = ("The quick brown fox jumps over the lazy dog.").split()
check = list(zip(*(s[i:] for i in range(3))))
('The', 'quick','brown') in check

print((time.perf_counter() - start)*1e6)

255.09999977657571

In [194]:
{1}+{1}

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [32]:
[t_query.split() in listyyy.split() for listyyy in items]

[False, False, False]

In [40]:
for t_query in queries:
    print([t_query.split() in listyyy.split() for listyyy in items])

[False, False, False]
[False, False, False]
[False, False, False]
[False, False, False]
[False, False, False]
[False, False, False]

In [3]:
items

['apple iphone se 2', 'iphone 11 max pro', 'iphone 11 pro max']

In [191]:
words

[2, 2, 3, 3, 0, 3]

In [195]:
phrase

[2, 2, 3, 3, 3, 1]

In [ ]:
for asd in queries:
    print(sum([bool(re.search(asd, item)) for item in items]))

In [144]:
t_item = items[0]
t_query = queries[0]

In [151]:
[set(listyyy.split()) for listyyy in items]

[{'apple', 'avocado', 'lettuce', 'limes'},
 {'apple', 'cranberries', 'limes', 'onion'},
 {'apple', 'avocado', 'corn28corn', 'escarole', 'lettuce', 'limes'}]

In [163]:
[t_query in t_item]

[False]

In [164]:
import re

In [165]:
regex = r'^ (some-regex-here)  $'

In [166]:
regex

'^ (some-regex-here)  $'

In [168]:
import re
word = 'fubar'
regexp = re.compile(r'ba[rzd]')
if regexp.search(word):
  print('matched')

matched

In [172]:
bool(re.search('ba[zd]', 'foobarrrr'))

False

In [183]:
asd = queries[0]

In [181]:
items

['apple lettuce limes avocado',
 'onion cranberries apple limes',
 'escarole corn28corn apple lettuce limes avocado']

2